@import './variables.scss';
@mixin fz1() {
    font-size: $fz1;
    @media screen and (max-width: $sm) {
        font-size: $fz1-sm;
    }
}
@mixin fz2() {
    font-size: $fz2;
    @media screen and (max-width: $sm) {
        font-size: $fz2-sm;
    }
}
@mixin fz3() {
    font-size: $fz3;
    @media screen and (max-width: $sm) {
        font-size: $fz3-sm;
    }
}
@mixin fz4() {
    font-size: $fz4;
    @media screen and (max-width: $sm) {
        font-size: $fz4-sm;
    }
}
@mixin fz5() {
    font-size: $fz5;
    @media screen and (max-width: $sm) {
        font-size: $fz5-sm;
    }
}
@mixin title-underbar() {
    font-size: 45px;
    margin-bottom: 50px;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #555;
        margin: 20px auto 0;
    }
    @media screen and (max-width: $sm) {
        font-size: 24px;
        margin-bottom: 30px;
    }
}
@mixin title() {
    font-size: 45px;
    margin-bottom: 50px;
    position: relative;
    font-weight: bold;
    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 2px;
        background-color: #555;
        margin: 20px auto 0;
    }
    @media screen and (max-width: $sm) {
        font-size: 24px;
		margin-bottom: 30px;
    }
}
@mixin mask() {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(24,24,24,.85);
}
@mixin ab-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}