@import './mixins.scss';
* {
    margin: 0;
    padding: 0;
}
a {
    color: #2c3e50;
    text-decoration: none;
}
body {
    font-size: 16px;
    color: #2c3e50;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    @include fz2();
}
input {
    outline: none;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #f8f9fa;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 1px solid #f8f9fa;
}
.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.w100p {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}