@import './mixins.scss';
* {
    margin: 0;
    padding: 0;
}
a {
    color: #2c3e50;
    text-decoration: none;
}
body {
    font-size: 16px;
    color: #2c3e50;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    @include fz2();
}
input {
    outline: none;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #f8f9fa;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 1px solid #f8f9fa;
}
.container {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.w100p {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}
.fade-enter-active {
    animation: fadeIn .5s;
}
.fade-leave-active {
    animation: fadeOut .5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.slideRight-enter-active {
    animation: coming .5s;
}
.slideRight-leave-active {
    animation: going .5s;
}
@keyframes coming {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes going {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}