$sm: 767px;
$fz1: 12px;
$fz2: 16px;
$fz3: 20px;
$fz4: 28px;
$fz5: 50px;
$fz1-sm: 12px;
$fz2-sm: 13px;
$fz3-sm: 16px;
$fz4-sm: 20px;
$fz5-sm: 40px;
$rd1: #d81a24;
$rd2: #e75854;
$bk1: #1f211d;
$bk2: #322f2f;
$gr1: #ccc;
$gr2: #666;
$gr3: #b7b7b7;